<!-- splash.component.html -->
<div class="splash-container">
  <div class="logo-container">
    <!-- Usa tu logo (guárdalo en src/assets/logo.png) -->
    <img src="assets/logo.png" alt="CPV Logo" class="logo-image" />

    <!-- O si quieres agregar texto debajo -->

    <!-- <p class="app-slogan">Tu slogan aquí</p> -->
  </div>
  <h1 class="app-name">Presupuestos</h1>
  <!-- Spinner en color dorado -->
  <div class="spinner-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</div>
