/* Fondo general del menú */
.menu-content {
  --background: #fff;
  // padding-top: 20px;
}

/* Header */
.menu-header {
  display: flex;
  align-items: center;
  padding: 16px;
  background: linear-gradient(135deg, #1c1c1c, #2b2b2b);
  border-radius: 0 0 16px 16px;
  margin-bottom: 20px;
  color: #fff;
}

.logo-box {
  background: #c7a66b;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* para que la imagen no se salga */
}

.logo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* si querés que llene todo */
}

.title-box {
  margin-left: 12px;
}

.title-box h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.title-box p {
  margin: 0;
  font-size: 13px;
  opacity: 0.8;
}

/* Lista */
.menu-list {
  padding: 0 10px;
}

/* Ítems del menú */
/* Ítems NO seleccionados */
.menu-item {
  --background: #f0f1f3; /* gris muy suave */
  --background-hover: #e5e7eb;
  border-radius: 12px;
  margin-bottom: 8px;
  padding-left: 10px;
  height: 50px;
  --color: #4b5563; /* gris oscuro para texto */
}

/* Texto dentro de los items */
.menu-item ion-label {
  color: #4b5563 !important; /* gris oscuro */
  font-weight: 500;
}

/* Icono dentro del ítem no seleccionado */
.menu-item ion-icon {
  color: #4b5563 !important; /* gris oscuro */
  background: transparent !important;
}

/* Ítem activo: oscuro con texto claro */
.active-item {
  --background: #2c2c2c !important; /* fondo oscuro */
  --color: #ffffff !important;
  color: #ffffff !important;
}

.active-item ion-label {
  color: #ffffff !important; /* texto blanco */
  font-weight: 600;
}

.active-item ion-icon {
  color: #ffffff !important; /* icono blanco */
  background: none !important;
}

ion-item {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

ion-list.menu-list {
  --background: transparent !important;
  background: transparent !important;
}

.menu-item::part(native) {
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

/* Efecto hover en items no activos */
.menu-item:hover {
  --background: #e5e7eb;
}
